body {
  background-color: black;
  margin: 0;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.Back-Btn {
  background-color: black;
  margin-top: 15px;
  font-size: 20px;
  color: white;
  border: none;
  cursor: pointer;
}

.Nav-Tags {
  display: flex;
  gap: 20px;
}

.Nav-Tags a {
  color: white;
  text-decoration: none;
}

.Back-Btn:hover {
  transition-duration: 0.55s;
  transform: scale(1.1);
}

.Goals-Btn {
  margin-right: 25px;
}

h1 {
  color: white;
  margin-top: 100px;
  font-size: 40px;
  text-align: center;
}

p {
  color: white;
  font-size: 25px;
  margin: 0 30px 0 30px ;
  text-align: center;
}